doukutsu.bin
doukutsu-*.bin
temp.bin
bin/
*.lst
*.cpxm
*.pal
*.pat
*.map
*.tsb
*.spr
*.uftc
*.pcm
*.xgc
*.patch
*.o
*.o80
*.elf
src/ai_gen.h
res/resources.h
res/resources.s
src/boot/rom_head.bin
src/xgm/z80_xgm.h
src/xgm/z80_xgm.s
.DS_Store
